{% extends 'base.html' %}
{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us....</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to Samsara</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p align="justify">
                    <br> </br>
                    orem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae sapien lectus. Aenean mi urna, viverra ut elementum a, elementum nec risus. Etiam ut tincidunt dolor, quis aliquam ante. Suspendisse potenti. Suspendisse sollicitudin ante a enim dictum tincidunt. Quisque sagittis eget tortor eu consectetur. Fusce imperdiet lacus orci, nec ullamcorper ligula vulputate in. Vivamus nec quam non lectus dictum volutpat.
                    <br> </br>
                    Nullam luctus orci id elit pretium tincidunt. Suspendisse elementum mollis nisi consequat accumsan. Donec fringilla, felis et commodo congue, justo lacus hendrerit massa, a tincidunt felis neque at ligula. Sed malesuada augue neque, id luctus enim mattis non. Praesent consectetur purus sapien, vel ullamcorper nisi lobortis ut. Donec in tortor aliquam, tempus mauris sed, bibendum nibh. Fusce tristique, ante vitae tristique posuere, neque erat volutpat nisl, non fermentum libero est vitae massa.
                    <br> </br>
                    Phasellus aliquet arcu ac tortor euismod blandit. Nullam bibendum, purus eu pharetra luctus, enim ligula posuere purus, eget efficitur ligula nulla sed lacus. Nullam quis lectus nibh. Duis porttitor facilisis quam sed placerat. Maecenas iaculis volutpat mi, auctor efficitur dui venenatis sit amet. Nullam sit amet sollicitudin ex. Nunc non nulla porta, egestas tortor id, eleifend dui.
                </p>
            </div>
        </center>
    </div>
</div>
{% endblock %}