{% extends 'base.html' %}
{% block content %}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Samsara</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Streetwear with stories</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                
                    <!-- Need to add sources for pics and links to other pages -->

                        <div class="col mb-5 ">
                            <div class="card h-100">
                                <!-- Product image-->
                                <img class="card-img-top" src="#" alt="..." />
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <a href="{% url 'events' %}"> community events</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Product image-->
                                <img class="card-img-top" src="#" alt="..." />
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <a href="{% url 'contact' %}">We wanna hear from you</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- image-->
                                <img class="card-img-top" src="#" alt="..." />
                                <!-- Page-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <a href="{% url 'community'%}">Live like a yogi</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        
                    

                  
            </div>
        </section>

{% endblock %}