{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Samsara Bound</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <noscript
      ><link rel="stylesheet" href="{% static 'css/noscript.css' %}"
    /></noscript>
  </head>
  <body class="landing is-preload">
    <!-- Page Wrapper -->
    <div id="page-wrapper">
      <!-- Header -->
      <header id="header" class="alt">
        <!-- <img src="{% static 'images/file.png'%}" style="height: 50px; width: 50px;"></header> -->
        {% include 'navbar.html' %}
      </header>

      <!-- Banner -->
      <section id="banner">
        <div class="inner">
          <h2>Samsara</h2>
          <p>Streetwear With Stories</p>
          <ul class="actions special"></ul>
        </div>
      </section>

      <!-- Footer -->
      <footer id="footer">
        <ul class="icons">
          <li>
            <a href="#" class="icon brands fa-twitter"
              ><span class="label">Twitter</span></a
            >
          </li>
          <li>
            <a href="#" class="icon brands fa-facebook-f"
              ><span class="label">Facebook</span></a
            >
          </li>
          <li>
            <a href="#" class="icon brands fa-instagram"
              ><span class="label">Instagram</span></a
            >
          </li>
          <li>
            <a href="#" class="icon solid fa-envelope"
              ><span class="label">Email</span></a
            >
          </li>
        </ul>
        <!-- <ul class="copyright">
          <li>&copy;<img src="{%static 'images/file.png' %}" style="height: 100px; width: 100px; padding: ;"></img></li>
        </ul> -->
      </footer>
    </div>

    <!-- Scripts -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/browser.min.js' %}"></script>
    <script src="{% static 'js/breakpoints.min.js' %}"></script>
    <script src="{% static 'js/util.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
