{% extends 'base.html' %} {% block content %}
<div class="container">
  <p>
    Privacy Policy: At Samsara Bound, we take your privacy seriously and are
    committed to protecting your personal information. This Privacy Policy
    outlines how we collect, use, and safeguard your data when you visit our
    website or interact with us. Information We Collect: When you visit our
    website, we may collect certain information automatically, such as your IP
    address, browser type, and device identifiers. If you make a purchase or
    sign up for our newsletter, we may collect personal information such as your
    name, email address, shipping address, and payment details. How We Use Your
    Information: We use the information we collect to process your orders,
    communicate with you, and provide you with a personalized shopping
    experience. We may also use your information to send you promotional offers,
    updates, and newsletters, but only if you have opted in to receive them.
    Data Security: We implement security measures to protect your personal
    information from unauthorized access, alteration, disclosure, or
    destruction. However, please be aware that no method of transmission over
    the internet or electronic storage is 100% secure, and we cannot guarantee
    the absolute security of your data. Data Sharing: We do not sell, trade, or
    otherwise transfer your personal information to third parties without your
    consent, except as required by law or as necessary to fulfill your orders.
    Your Rights: You have the right to access, update, or delete your personal
    information at any time. You can also unsubscribe from our communications or
    request that we stop using your data for marketing purposes. If you have any
    questions or concerns about our Privacy Policy or the handling of your
    personal information, please contact us at contact@samsarabound.com. Changes
    to This Policy: We reserve the right to update or change our Privacy Policy
    at any time. Any changes will be posted on this page, and the revised date
    will be indicated at the top of the page. SMS: With adequate consent, your
    phone numbers are primarily used to provide you with personalized services,
    updates, and promotional offers. We only share your phone number with our
    SMS provider, subject to their privacy policy The website uses cookies to
    help keep track of items you add to your shopping cart, including when you
    have abandoned your cart. This information may be used to determine when to
    send cart reminder messages via SMS. By using our website or providing us
    with your personal information, you consent to the terms of this Privacy
    Policy. Last updated: 10/7/24
  </p>
</div>
{%endblock%}
