{% extends 'base.html' %} {% block content %}
<div class="container">
  <p>
    USA Orders: Orders within the USA are typically sent out to the service
    provider within 48 hours of being placed, with delivery within 3-5 business
    days. International Orders: For international orders, please allow up to
    15-20 business days for delivery (Currently not doing any international
    orders). Preorders: Any orders purchased on preordered will not be fulfilled
    until the month mentioned in the description. Shipping follows the typical
    durations as mentioned above. If you have any questions about your order or
    shipping times, feel free to reach out to us at contact@samsarabound.com.
    We're here to help!
  </p>
</div>
{%endblock%}
